<h1>Daily Tasks List</h1>


<%= form_for Task.new do |f| %>
	<%= f.label :task %>
	<%= f.text_field :task %>
	<%= f.submit %>
<% end %>

<ul>
	<% for task in @tasks %>
		<li id = "task_<%= 	task.id %>">
			<%= task.task %> |
			<%= link_to 'Edit', edit_task_path(task) %>
		</li>
	<% end %>
</ul>
